# Python / Jupyter
.ipynb_checkpoints/
__pycache__/
*.pyc

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Raw Data (Exclude raw Excel files and dataset, but keep CSV exports and SQL files)
*.xlsx
dataset/
